// @import "./_variables.scss";
$background-color1: #151519;
$background-color2: #1c1c1f;
$background-color3: #020E1F;

$border-color: #333;

$text-primary: #eee;
$text-secondary: #ccc;
$text-tertiary: #77869e;

$accent-color1: #0069ff;
$accent-shadow1: rgba(0,105,255,0.5);
$accent-color2: #1633ff;
$accent-color3: #15cd72;
$accent-shadow3: rgba(21,205,114,0.5);

$error-color: #ed4f32;
$error-shadow: rgba(237,79,50,0.5);
$warning-color: #eab02e;
$warning-color: rgba(237,180,49,0.5);

table {
  text-align: center;
  width:90%;
  margin: 0 auto;
  border: 2px solid $border-color;
  background-color: $background-color1;
  border-collapse: collapse;
}
table td {
  border-top: 1px solid $border-color;
  width: 40px;
  margin: 0 auto;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
table tr {
  width: 500px;
  // border-top: 1px solid $border-color;
}
table th {
  border-bottom: 5px solid $border-color;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
table a:hover{
  text-shadow: 5px 2px 10px $text-secondary;
}
table tbody tr:hover{
  background-color: $background-color2;
}

.red {
  color: red;
}
.green {
  color: $accent-color3;
}
